@font-face {
  font-family: "WorkSans";
  src: url('/fonts/WorkSans-Regular.woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: url('/fonts/WorkSans-SemiBold.woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: url('/fonts/WorkSans-Bold.woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}