:root {
  --color-neuitral: hsl(0, 100%, 100%);
  --color-accent-100: hsl(275, 100%, 97%);
  --color-accent-600: hsl(292, 16%, 49%);
  --color-accent-700: hsl(281, 83%, 54%);
  --color-accent-950: hsl(292, 42%, 14%);

  --font-family: "WorkSans", sans-serif;

  --content-width: 600px;
  --container-offset: 1.5rem;
  --container-width: 100% - (var(--container-offset) * 2);

  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;

  scrollbar-gutter: stable;
  interpolate-size: allow-keywords;
}

::selection {
  color: var(--color-accent-100);
  background-color: var(--color-accent-600);
}

body {
  margin: 0;
  background-color: var(--color-accent-100);
  background-image: url(../images/background-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

@media (width > 375px) {
  body {
    background-image: url(../images/background-pattern-desktop.svg);
  }
}

.container {
  width: min(var(--content-width), var(--container-width));
  margin-inline: auto;
}

.main {
  display: grid;
  grid-auto-columns: 1fr;
  justify-content: center;
  place-items: center;
  padding-block: 4rem;
  min-width: 20rem;
  min-height: 100vh;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 0.0625rem;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 0.0625rem;
}

.faq__title {
  margin-block-end: clamp(0.5rem, 3vw, 1rem);
  padding-inline-start: clamp(3.125rem, 5vw, 4rem);
  font-size: clamp(2rem, 4vw, 3.5rem);
  line-height: 1;
  color: var(--color-accent-950);
  background-image: url(../images/icon-star.svg);
  background-repeat: no-repeat;
  background-size: clamp(1.5rem, 3vw, 2.5rem);
  background-position: 0 center;
}

.faq__content {
  padding: 1.5rem;
  padding-block-end: 0;
  border-radius: 0.5rem;
  background-color: var(--color-neuitral);
  box-shadow: 0px 0px 3rem 0px var(--color-accent-950);
}

@media (width > 768px) {
  .faq__content {
    padding: 2.5rem 2.5rem 1rem;
    border-radius: 1rem;
  }
}